:root {
    --yellowColor: #FCC005;
    --darkColor: #101418;
    --whiteColor: #FFFBFE;
    --grayColor: #2d3238;
    --instagram: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
    --instagram_text: #F04271;
    --whatsapp: #1DAA61;
    --delete: #ff0000;
    --edit: #b7901c;
}

* {
    margin: 0;
    color: white;
}

body {
    background-color: var(--darkColor);
}

/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 15px;
    height: 55px;

    background-color: var(--grayColor);
}

.img_header img {
    width: 50px;
    border-radius: 50%;
}

.movielec_header {
    font-size: 35px;
    letter-spacing: 3px;
    color: var(--yellowColor);
}

/*Footer*/
.footer {
    background-color: var(--grayColor);
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 15px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;

}

.followUs_footer, .contactUs_footer {
    display: flex;
    flex-direction: column;
}

.instagram_footer {
    display: flex;
}

.instagram_footer span {
    margin-left: 2px;

}

.icon_instagram {
    background: var(--instagram);
    border-radius: 5px;
}
.icon_Whatsapp{
    background: var(--whatsapp);
    border-radius: 5px;
}

.main {
    width: 250px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

/*Filter*/
.filter_content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.filter {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    max-width: 200px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 2px 3px;
    position: relative;
}

.input_filter {
    outline: none;
    border: none;
    background-color: transparent;

}

.button_filter {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3px;
    bottom: 3px;

}
.icon_filter{
    font-size:13px;

}


.button_filter:hover>.icon_filter * {
    color: var(--yellowColor);
}

.checkbox_filter:hover{
    filter: brightness(0.5);
}

.orderBy_filter select{
    background-color: var(--grayColor);
}
.orderBy_filter select:hover{
    filter: brightness(0.5);

}

/*Add button*/
.addButton{
    background-color: var(--grayColor);
    padding: 5px;
    margin-bottom: 15px;
    font-size: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.iconAdd_buttonAdd{
    font-size: 30px;

}
.iconAdd_buttonAdd path{
    background-color: var(--grayColor);
    font-size: 20px;
    color: var(--yellowColor);

}
.addButton:hover{
    filter: brightness(0.8);
}

/*Card*/
.card {
    background-color: var(--grayColor);
    width: 300px;
    margin: 20px;;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: -26px 27px 23px 0px rgba(0, 0, 0, 0.75);
    animation: slideDown 1s ease-in-out;
    position: relative;

}

@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.card div {
    display: flex;
    min-width: 80%;
    justify-content: space-between;
    
}

.card_fechaPrevista {
    flex-direction: column;
    align-items: center;
}

.card_notas {
    flex-direction: column;
    border: 1px dotted white;
    padding: 7px;
    width: 250px;
    border-radius: 20px;

}

.img_card {
    max-width: 200px;
    max-height: 150px; 
    border-radius: 20px;
    border: 3px solid var(--yellowColor);
    

}
.contentButtons_card{
    display: flex;
    justify-content: right !important;
    position: absolute;
    right: 5px;
    top: 4px;
    
}
.contentButtons_card button{
    background-color: var(--grayColor);
    border: none;

}

.editButton_card:hover>.iconEdit path{
    color: var(--whatsapp);
}
.deleteButton_card:hover> .iconDelete path{
    color: var(--delete);
}
/*Password*/
.container_password{
    background-color: var(--grayColor);
    border: 1px solid var(--yellowColor);
    border-radius: 3px;

    padding: 8px;
}
.message_password, .errorMessage_password{
    font-size: 15px;
    margin: 3px;

}
.errorMessage_password{
    color: var(--delete);
    animation: slideDown .3s ease-in-out;
}
.form_password{
    display: flex;
}
.input_password{
    margin: 3px;
    background-color: var(--grayColor);
    border: none;
    border: 1px solid var(--yellowColor);
    border-radius: 3px;
    outline: none;
}
.accept_password{
    font-size: 10px;
    border: 1px solid var(--yellowColor);
    background-color: var(--grayColor);
    margin: 3px;

}
/*Formulario*/
.formik{
    display: grid;
    gap: 10px;
    border: 1px solid var(--yellowColor);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -26px 27px 23px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--grayColor);
    width: 300px;
    
}
.formik h2{
    justify-self: center;
}

/*Formulario con formik*/
.form_container_field {
    display: flex;
    flex-direction: column;
}
.input_formik{
    background-color: var(--darkColor);
    border: none;
    width: 95%;
    border-radius: 13px;
    padding: 3px;
}
.input_formik:focus{
    outline: var(--yellowColor);
}
.error_formik{
    color: var(--delete);
    font-size: 13px;
    width: 80%;

}
.content_image_formik{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_formik{
    max-width: 200px;
    max-height: 150px;
    margin-top: 15px;
    border: 3px solid var(--yellowColor);
    border-radius: 20px;


}

.formik_buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}
.formik_acceptButton{
    background-color: var(--whatsapp);
    width: 50%;
}
.formik_cancelButton{
    background-color: var(--delete);
    width: 50%;
    filter: brightness(0.7);    

}

.button{
    border-radius: 8px;
    border: none;
    
}
.button:hover{
    filter: brightness(1.2);    
}